body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	background-color: #f9f9f9;
}

textarea {
	font-family: 'Open Sans', sans-serif;
	width: 420px;
	height: 156px;
	background-color: #ececec;
	margin-top: 20px;
	border-radius: 4px;
	resize: none;
	border-style: none;
	text-indent: 15px;
	padding: 5px 5px 0 5px;
}

input[type=submit] {
	margin-top: 20px;
	width: 130px;
	height: 45px;
	background-color: #b0b427;
	color: white;
	font-size: 15px;
	float: right;
	border-radius: 4px;
	border-style: none;
	cursor: pointer;
	font-weight: 300;
}

#header {
	background-color: #e5d549;
	height: 58px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999999999999999999999999999999999999999999999999999999999999;
}

#header-logo {
	margin-left: 55px;
	padding-top: 10px;
	display: flex;
	align-items: center;
}

#header-logo h4 {
	align-items: center;
	padding-left: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #082b2c;
}

#content {
	width: 800px;
	margin: 0 auto;
	margin-top: 60px;
}

#top-content {
	display: flex;
	margin-top: 60px;
}

#perfil {
	width: 37.5%;
	height: 300px;
	box-shadow: 0px 2px 1px 0px rgba(25, 25, 25, 0.15);
	border-radius: 4px;
}

#perfil-inside {
	padding: 20px;
}

#perfil-inside h4 {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	color: rgba(5, 50, 51, 0.90);
}

#perfil-inside h1 {
	font-size: 50px;
}

#avatar {
	width: 115px;
	height: 115px;
	background-color: #e5d549;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 68px;
	margin-top: 20px;
}


#avatar h1 {
	color: rgba(5, 50, 51, 0.90);
	font-weight: 600;
	text-transform: uppercase;
}

#perfil-rodape {
	margin-top: 25px;
	border-top: 1px solid #DCDCDC;
}

#perfil-rodape p {
	color: rgba(5, 50, 51, 0.90);
	font-size: 14px;
}

.p-rodape {
	color: rgba(5, 50, 51, 0.90);
	font-weight: 600;
}

#paragraph-rodape {
	padding-top: 20px;
}

#paragraph-rodape2 {
	padding-top: 10px;
}

#perfil-rodape a {
	float: right;
	position: relative;
}

#post {
	height: 300px;
	width: 59.4%;
	margin-left: 3.1%;
	box-shadow: 0px 2px 1px 0px rgba(25, 25, 25, 0.15);
	border-radius: 4px;
}

#post-inside {
	padding: 20px 25px;
}

#post-inside label {
	font-size: 18px;
	color: rgba(5, 50, 51, 0.90);
	font-weight: 600;
}

.feeds {
	border-radius: 4px;
	box-shadow: 0px 2px 1px 0px rgba(25, 25, 25, 0.15);
	margin-top: 30px;
}

.feeds-inside {
	padding: 20px 20px 20px 20px;
}

.feeds-inside h4 {
	display: inline;
	font-size: 15px;
	font-weight: 600;
}
.feeds-inside h6 {
	display: inline;
	font-size: 12px;
	color: #868686;
}
.feeds-inside p {
	padding-top: 20px;
	font-size: 14px;
	line-height: 1.7em;
}

#feed-content {
	margin-bottom: 25px;
}

.likes {
	display: flex;
	justify-content: flex-end;
}

.likes span {
	position: relative;
	right: 10px;
	top: 10px;
	font-weight: bold;
}

.icon-like {
	background-image: url(../img/icon-like.png);
	width: 30px;
	height: 26px;
	cursor: pointer;
}

.icon-like-active {
	background-image: url(../img/icon-like-active.png);
}


.erro {
	background-color: #F08080;
}

.feed-name {
	display: inline;
	font-size: 15px;
	font-weight: 600;
	color: rgba(5, 50, 51, 0.90);
}
.feed-texto {
	padding-top: 20px;
	font-size: 14px;
	line-height: 1.7em;
}


	@media only screen and (max-width: 815px) {
		#header-logo {
			margin-left: 0px;
			justify-content: center;
		}

		#content {
			margin-top: 25px;
			width: 100%;
		}

		#top-content {
			flex-direction: column;
		}

		textarea {
			width: 100%;
		}

		#perfil, #post, .feeds {
			width: 90%;
			margin-left: 5%;
		}
		
		#post, .feeds {
			margin-top: 25px;
		}

		#avatar {
			margin: 0 auto;
			margin-top: 20px;
		}



	}	
